@import "abstracts/colors";
@import "abstracts/variables";

.battlefield {
	display: inline-block;
	line-height: normal;
	vertical-align: middle;

	.battlefield-row {
		&:last-child {
			& > .battlefield-cell {
				border-bottom: 1px solid $color-primary;
			}
		}
	}

	.battlefield-cell {
		position: relative;
		float: left;
		border: 1px solid $color-primary;
		border-right: none;
		border-bottom: none;
		height: $cell-size;
		width: $cell-size;
		box-sizing: border-box;

		&:last-child {
			border-right: 1px solid $color-primary;
		}
	}
}

.cell-marker {
	position: absolute;
	font-size: 18px;
	font-family: monospace;

	&.cell-marker-row {
		left: -4.8rem;
		width: 100%;
		text-align: right;
		top: 0.5rem;
	}

	&.cell-marker-col {
		top: -3rem;
		left: 0;
		width: 100%;
		text-align: center;
	}
}
