@import "abstracts/variables";
@import "abstracts/colors";
@import "abstracts/functions";

$color-port-border: #b2b2b9;
$single-deck-size: $cell-size + 1;
$double-deck-length: ($cell-size * 2) + 1;
$triple-deck-length: ($cell-size * 3) + 1;
$four-deck-length: ($cell-size * 4) + 1;
$ship-opacity: 0.4;

.port {
	border: 1px dotted $color-port-border;
	float: right;
	margin-left: 3rem;
	height: $cell-size;
	box-sizing: border-box;
	position: relative;

	&.four-deck-port {
		width: $four-deck-length;
	}

	&.triple-deck-port {
		width: $triple-deck-length;
	}

	&.double-deck-port {
		width: $double-deck-length;
	}

	&.single-deck-port {
		width: $single-deck-size;
	}
}

.ship {
	position: absolute;
	z-index: z-index('onTop');
	border: 2px solid $color-primary;
	background: alpha-transparency($color-primary, $ship-opacity);
	box-sizing: border-box;
	margin: -1px;

	&.ship-on-drug {
		border-color: $color-danger;
		background: alpha-transparency($color-danger, $ship-opacity);
	}

	&.ship-ready-to-drop {
		border-color: $color-success;
		background: alpha-transparency($color-success, $ship-opacity);
	}

	&.four-deck {
		&.vertical {
			height: $four-deck-length;
			width: $single-deck-size;
		}

		&.horizontal {
			height: $single-deck-size;
			width: $four-deck-length;
		}
	}

	&.triple-deck {
		&.vertical {
			height: $triple-deck-length;
			width: $single-deck-size;
		}

		&.horizontal {
			height: $single-deck-size;
			width: $triple-deck-length;
		}
	}

	&.double-deck {
		&.vertical {
			height: $double-deck-length;
			width: $single-deck-size;
		}

		&.horizontal {
			height: $single-deck-size;
			width: $double-deck-length;
		}
	}

	&.single-deck {
		height: $single-deck-size;
		width: $single-deck-size;
	}
}

@-webkit-keyframes shake {
	0% {
		-webkit-transform: translate(6px, 0) rotate(0deg);
	}
	20% {
		-webkit-transform: translate(0, 0) rotate(0deg);
	}
	40% {
		-webkit-transform: translate(-6px, 0) rotate(0deg);
	}
	60% {
		-webkit-transform: translate(0, 0) rotate(0deg);
	}
	80% {
		-webkit-transform: translate(6px, 0) rotate(0deg);
	}
	100% {
		-webkit-transform: translate(0px, 0) rotate(0deg);
	}
}

.shake {
	-webkit-animation-name: shake;
	-webkit-animation-duration: 100ms;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-timing-function: linear;
	border-color: #f00;
}