@import "../variables";

$color-port-border: #b2b2b9;
$single-deck-size: $cell-size + 1;
$double-deck-length: ($cell-size * 2) + 1;
$triple-deck-length: ($cell-size * 3) + 1;
$four-deck-length: ($cell-size * 4) + 1;

.port {
	border: 1px dotted $color-port-border;
	float: right;
	margin-left: 3rem;
	height: $cell-size;
	box-sizing: border-box;

	&.four-deck-port {
		width: $four-deck-length;
	}

	&.triple-deck-port {
		width: $triple-deck-length;
	}

	&.double-deck-port {
		width: $double-deck-length;
	}

	&.single-deck-port {
		width: $single-deck-size;
	}

	.ship {
		margin: -1px;
	}
}

.ship {
	border: 2px solid #00f;
	background: rgba(0, 0, 255, 0.05);
	box-sizing: border-box;

	&.four-deck {
		&.vertical {
			height: $four-deck-length;
			width: $single-deck-size;
		}

		&.horizontal {
			height: $single-deck-size;
			width: $four-deck-length;
		}
	}

	&.triple-deck {
		&.vertical {
			height: $triple-deck-length;
			width: $single-deck-size;
		}

		&.horizontal {
			height: $single-deck-size;
			width: $triple-deck-length;
		}
	}

	&.double-deck {
		&.vertical {
			height: $double-deck-length;
			width: $single-deck-size;
		}

		&.horizontal {
			height: $single-deck-size;
			width: $double-deck-length;
		}
	}

	&.single-deck {
		height: $single-deck-size;
		width: $single-deck-size;
	}
}
